<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.wangtianya.learn">


    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application>

        <activity android:name="com.wangtianya.learn.wiget.FragmentContainerActivity" />
        <activity android:name=".communication.CommunicationActivity" />

        <activity android:name="cn.wangtianya.learn.temp.TempTestActivity" />
        <activity android:name="cn.wangtianya.learn.temp.NullPointerCastActivity" />

        <activity android:name="cn.wangtianya.learn.uithread.UIThreadActivity" />
        <activity android:name="cn.wangtianya.learn.uithread.NotUIDrawActivity" />

        <activity android:name="cn.wangtianya.learn.mvvm.MVVMActivity" />
        <activity android:name="cn.wangtianya.learn.mvvm.DataBindingActivity" />
        <activity android:name="cn.wangtianya.learn.mvvm.DataBinding3Activity" />
        <activity android:name="cn.wangtianya.learn.mvvm.DataBinding2Activity" />
        <activity android:name="cn.wangtianya.learn.mvvm.DataBindingMubanActivity" />

        <activity android:name="cn.wangtianya.learn.dialog.DialogActivity" />
        <activity android:name="cn.wangtianya.learn.dialog.DialogOneActivity" />

        <activity android:name="cn.wangtianya.learn.memory.MemoryActivity" />
        <activity android:name="cn.wangtianya.learn.memory.OOMActivity" />
        <activity android:name="cn.wangtianya.learn.memory.LeakActivity" />

        <activity android:name="cn.wangtianya.learn.ripple.RippleActivity" />
        <activity android:name="cn.wangtianya.learn.ripple.RippleInListItemActivity" />
        <activity android:name=".event.EventActivity" />


        <activity
            android:name=".四大组件.activity.task.SingleTaskLearnActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".四大组件.activity.task.SingleTaskLearnSubStandardActivity"
            android:launchMode="standard" />

        <activity
            android:name=".四大组件.activity.task.SingleTaskLearnSubStandard1Activity"
            android:launchMode="standard" />

        <service
            android:name=".四大组件.service.LearnService"
            tools:ignore="InnerclassSeparator" />
        <service
            android:name=".四大组件.service.MyIntentService"
            tools:ignore="InnerclassSeparator" />

        <service
            android:name=".四大组件.service.JobIntentTestService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:ignore="InnerclassSeparator" />

    </application>

</manifest>